@model eCommerceReloaded.Models.RegisterViewModel
<fieldset>
<legend>Register</legend>
    <form asp-controller="User" asp-action="Register" method="post">
        <span class="error" asp-validation-for="FirstName"></span></br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/></br>
        <span class="error" asp-validation-for="LastName"></span></br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/></br>
        <span class="error" asp-validation-for="Email"></span></br>
        @{
            if(ViewBag.emailexist!=null)
            {
                <span class="error">@ViewBag.emailexist</span><br>
            }
        }
        <label asp-for="Email"></label>
        <input asp-for="Email"/></br>
        <span class="error" asp-validation-for="shipToAddress"></span></br>
        <label asp-for="shipToAddress"></label>
        <input asp-for="shipToAddress"/></br>
        <span class="error" asp-validation-for="city"></span></br>
        <label asp-for="city"></label>
        <input asp-for="city"/></br>
        <span class="error" asp-validation-for="state"></span></br>
        <label asp-for="state"></label>
        <input asp-for="state"/></br>
        <span class="error" asp-validation-for="zipcode"></span></br>
        <label asp-for="zipcode"></label>
        <input type="text" asp-for="zipcode"/></br>
        <span class="error" asp-validation-for="Password"></span></br>
        <label asp-for="Password"></label>
        <input asp-for="Password"/></br>
        <span class="error" asp-validation-for="ConfirmPassword"></span></br>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/></br>
        <button type="submit">Register</button>
    </form>
</fieldset>